<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Folium Map</title>
</head>
<body>
    <h1><Center>Crash Data Details 🌏</Center></h1>
    <iframe class="map", src="/map" width="600" height="350"></iframe>
 
    
    <iframe class="map2", src="/map2" width="600" height="350"></iframe><br>
    <iframe class="map3", src="/map3" width="600" height="350"></iframe>
    <iframe class="map2", src="/map2" width="600" height="350"></iframe>
    
    <h3><b style="background-color: lightcoral; color: lightcyan;">
        Render Folium on Flask done!
    </b></h3>
</body>
</html>